
<button id="btnAgregar" class="btn btn-primary" (click)="openLg(content)">Agregar</button>
<div class="modalAgregar">
<ng-template  #content let-modal style="z-index: 10;">
    <div class="modal-header">
        <h4 class="modal-title">Agregar Persona</h4>
     
        <button type="button" class="btn-close" aria-label="Close" (click)=" modal.dismiss('')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="Formulario" (submit)="submit(dialogoTemplate)" >
            <div class="mb-3">
                <label for="nombre" class="nombrePersona"><b>Nombre</b></label>
                <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
            </div>
            <div class="mb-3">
                <label for="apellido" class="apellidoPersona"><b>Apellido</b></label>
                <input type="text" formControlName="apellido" class="form-control" id="apellido" placeholder="Ingresa tu Apellido">
            </div>
            <div class="mb-3">
              <label for="apellido" class="apellidoPersona"><b>Genero</b></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="Masculino" formControlName="genero" id="masculino" value="Masculino"  (change)="DesactivarTxt()" checked>
                <label class="form-check-label" for="masculino">
                  Masculino
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Femenino" formControlName="genero" id="femenino" (change)="DesactivarTxt()">
                <label class="form-check-label" for="femenino">
                  Femenino 
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="otro" type="radio" formControlName="genero"  id="otro" (change)="ActivarTxt()">
                <label class="form-check-label" for="otro">
                  Otro
                </label>
               
              </div>
              
            </div>
              <input name="txtGenero" type="text" class="form-control" id="nombre" [(ngModel)]="txtGenero" [ngModelOptions]="{standalone: true}" [hidden]="estaSeleccionado===false" placeholder="Ingresa tu genero">
              <p class="advertencia" [hidden]="datosIncorrectos===false">Tienes que llenar todos los campos</p>
              <div id="footer" class="modal-footer">
                 <button type="submit" class="btn btn-primary">Agregar</button>
                 <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>

            </div>
              
        </form>

    </div>
   
  
</ng-template>
</div>

  <ng-template #dialogoTemplate let-modalDialogo >
      <div class="modal-content">
      <div class="modal-header">
      <h4 ><b>Confirmacion</b></h4>
      </div>
      <div class="modal-body">
      <p><b >¿Estas seguro de que quieres agregar un nuevo registro?</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="agregarRegistro()" class="btn btn-success">Confirmar</button>
        <button type="button" class="btn btn-light" (click)="modalDialogo.close('Close click')">Cerrar</button>
      </div>
    </div>
      </ng-template>